.tablesort
  &-sortable
    cursor pointer

    .glyphicon
      display none

    .glyphicon-chevron-null
      display inline-block

  &-desc
    .glyphicon-chevron-up
      display inline-block
    .glyphicon-chevron-null
      display none

  &-asc
    .glyphicon-chevron-down
      display inline-block
    .glyphicon-chevron-null
      display none
